<div class="content">
  <app-modalable [isExpand]="isExpanded">
    <div class="card">
      <div class="card-header">
        <span>{{data.title}}</span>
        <button type="button" class="btn btn-accent" (click)="onClickToggle()">{{isExpanded ? 'Collapse' : 'Expand'}}</button>
      </div>
      <div class="card-body">
        <textarea>{{data.text}}</textarea>
        <br/><br/>
        <button type="button" class="btn btn-primary" (click)="onClickTest()">Click Test</button>
      </div>
    </div>
  </app-modalable>
</div>


